body {
  margin: 0;
  padding: 0;
  text-align: center;
}

h1 {
  margin: 0;
  padding: 0;
  font-family: 'Sacramento', cursive;
  font-size: 400%;
  color: #5fdde5;
}

h2 {
  margin: 0;
  padding: 0;
  font-family: 'Tenali Ramakrishna', sans-serif;
}

p {
  margin: 0;
  padding: 0;
  color: #4cbbb9;
  font-family: 'Roboto', sans-serif;
}

.intro {
  position: absolute;
  top: 20%;
  left: 30%;
  right: 30%;
  font-family: Arial, Helvetica, sans-serif;
}

.firstpage {
  background-color: #ebfffa;
  height: auto;
  padding-top: 12%;
  padding-bottom: 12%;
}

#om {
  position: fixed;
  height: 10%;
  width: 5%;
  top: 10%;
  left: 5%;
}

.secondpage {
  margin: 0;
  padding: 0;
  background-color: #cbf1f5;
}

#DP {
  margin: auto;
  padding: auto;
  border-radius: 100%;
  position: absolute;
  left: 33%;
  right: 33%;
  width: 33%;
}

hr {
  padding: 0;
  margin: 0;
}

img {
  padding: 0;
  margin: 0;
  height: auto;
  width: auto;
}

#tiranga {
  height: 10%;
  width: 5%;
  position: fixed;
  top: 10%;
  right: 5%;
}

#meditative_guy {
  height: 4rem;
  width: 1 rem;
  position: absolute;
  top: 1%;
  right: 46%;
}

#student {
  height: 20%;
  width: 12%;
  position: absolute;
  top: 88%;
  right: 30%;
}

#cloud1 {
  height: 20%;
  width: 20%;
  position: absolute;
  top: 20%;
  left: 15%;
  right: 80%;
}

#bhagwa {
  color: #FF9933;
}

.test {
  position: absolute;
  top 0;
  left: 30%;
}

.secondpage-content {
  position: relative;
  width: 50%;
  left: 25%;
  padding-top: 35%;
  line-height: 2;
}

.img {
  height: 13%;
  width: 6%;
  margin-left: 2%;
  margin-right: 2%;
  margin-top: 2%;
}

.thirdpage {
  padding: 0;
  margin: 0;
  width: 100%;
  background-color: blue;
}
